---
import "@/styles/index.scss";

import { ViewTransitions } from "astro:transitions";
import FavIcon from "@/components/app/FavIcon.astro";
import CriticalCss from "@/components/app/CriticalCSS.astro";
import MetaOg from "@/components/app/MetaOg.astro";
import MetaTwitter from "@/components/app/MetaTwitter.astro";
import ExternalFonts from "@/components/app/ExternalFonts.astro";
import HeaderScripts from "@/components/app/HeaderScripts.astro";
import FooterScripts from "@/components/app/FooterScripts.astro";
import AppHeader from "@/components/app/AppHeader.astro";
import AppFooter from "@/components/app/AppFooter.astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "the Familia",
  description = "the Familia – a method for quickly immersing yourself in the world of gangsters",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="app">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <CriticalCss />
    <MetaTwitter />
    <MetaOg />
    <FavIcon />
    <ViewTransitions />
    <ExternalFonts />
    <HeaderScripts />
  </head>
  <body>
    <AppHeader />

    <main>
      <slot />
    </main>

    <AppFooter />

    <FooterScripts />
  </body>
</html>
